@model PaymentIntegration.Banks.Iyzico.PaymentResultVM
@{
    ViewBag.Title = "PaymentResult";
}

@if (Model.ReturnStatus == "success")
{
    <div>
        <h1 class="font-weight-lighter">Tebrikler !</h1>
        <b class="d-block font-weight-500"> Siparişini başarıyla tamamladınız. Hemen Kullanmaya başlayabilirsiniz</b>
        <span class="d-block my-2">Sipariş No: <b>@Model.PaymentId</b></span>
    </div>
}