
@{
    Layout = null;
}
@model string

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment</title>
</head>
<body>
    <div> 
        @Html.Raw(Model);
    </div>
</body>
</html>
